main{
    flex: 1 0 auto;
    
    .buttons{
        .btn{
            margin-bottom: 10px;
            min-width: 43%;
            
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}